FIREBASE_SERVICE_ACCOUNT_KEY=
GEMINI_API_KEY=
APP_URL=
VITE_API_KEY=
VITE_FOOTBALL_DATA_KEY=
VITE_FOOTBALL_DATA_BASE=
IMAGEKIT_PUBLIC=
IMAGEKIT_PRIVATE=
IMAGEKIT_URL_ENDPOINT=
VITE_IMAGEKIT_PUBLIC=
VITE_IMAGEKIT_URL_ENDPOINT=
VITE_FCM_VAPID_KEY=
ENCRYPTION_KEY=
SOCIAL_ENCRYPTION_KEY=
REDIS_URL=
